body {
    font-family: 'Arima', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.donate-pic {
    background-image: url(image/donet.jpg);
    background-size: cover;
    height: 600px;
    background-repeat:no-repeat ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 700px;
    height: 600px;
    background: none;
} 
.container {
    color: white;
}
.container .h1{
    font-size: 55px;
}
.container .p {
    line-height: 30px;
    font-size: 18px;
    margin-top: -30px;
}

.link-header {
    background-color: tomato;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;

}


  .donate-today {
    color: black;
    width: 600px;
  }

  .donate-today h2 {
    font-size: 50px;
  }

  .donate-today p {
    color: rgb(110, 100, 100);
    font-size: 18px;
    margin-top: -25px;
  }

  .amount-option {
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    height: 100px;
    background-color: rgba(233, 235, 226, 0.884);
    color: rgb(110, 107, 107);
    align-items: center;
    font-size: 25px;
  }

  .amount-option .box {
    padding: 5px;
    width: 130px;
    border: 10px solid white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .amount-option  .box-another {
    border: 2px tomato solid;
    color: tomato;
    width: 130px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input {
    outline: 0;
    border-width: 0 0 2px;
    width: 750px;
    text-align: center;
    color: rgb(110, 107, 107);
    font-size: 15px;
  }

  #link {
    margin-top: 30px;
  }

.donate-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 700px;
    height: 220px;
    background: none;
}

.donate-plan h2 {
    font-size: 50px;
    margin-top: -25px;
}

.donate-plan p {
    font-size: 18px;
    color: rgb(110, 107, 107);
    margin-top: -20px;
}

.donate-main {
    height: 350px;
}
.donate-option {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(110, 107, 107);
}
.option {
    width: 280px;
    height: 400;
    margin: 5px;
    line-height: 25px;
    padding: 20px 30px;
}

#option-1 {
    background-color: rgb(250, 244, 244);
}

#option-2 {
    background-color: rgb(250, 228, 228);
}
#option-3 {
    background-color: rgb(250, 228, 228);
}
.about {
    height: 600px;
}

.about-header {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    line-height: 22px;
    color: rgb(110, 107, 107);
}
.about-header h1 {
    font-size: 55px;
    color: black;
}
.about-header h3{
    font-size: 20px;
}
.about-header h4 {
    font-size: 15px;
    margin-top: -18px;
}
.about-header h2 {
    font-size: 18px;
    margin-top: -50px;
}


.about-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.about-footer .option {
    text-align: center;
    width: 250x;
    margin: 50px;
}

.about-footer .option img {
    width: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-footer .option h1 {
    font-size: 55px;
    color: rgb(110, 107, 107);
}
.about .option p {
    font-size: 18px;
    color: rgb(110, 107, 107);
    margin-top: -25px;
}

.update {
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    color: rgb(110, 107, 107);
}

.update h1 {
    font-size: 55px;
    color: black;
}
.update p {
    margin-top: -25px;
}



.email {
    height: 250px;
    width: 800px;
    background-color: rgb(253, 208, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.email .input-email {
  background-color: rgb(223, 215, 215); 
  border: 1px solid rgb(121, 112, 112);
  height: 35px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px pink;
  font-size: 15px;
}

.email .submit {
    background-color: tomato;
    border: tomato;
    padding: 12px 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

footer {
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.footer p {
    color: white;
}